.container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.container .box {
	width: 100%;
	border: solid 1px #ccc;
	margin-top: 8px;
	text-align: left;
}

.box .child {
	width: 100px;
	height: 100px;
	border: solid 1px #00FFFF;
}

.fl {
	float: left;
}

.mr-10 {
	margin: 10px;
}

.color-red {
	color: #FF0000;
}